<h1 class="d-flex justify-content-center">{{developer.display_name}}</h1>
<div class="content">
  <div class="d-flex justify-content-center">
    <img src="{{developer.profile_image}}" class="profile-avatar" />
  </div>

  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="medal">
        <div class="bronze"></div>
        {{this.developer.badge_counts.bronze}}
      </div>
      <div class="medal">
        <div class="silver"></div>
        {{this.developer.badge_counts.silver}}
      </div>
      <div class="medal">
        <div class="gold"></div>
        {{this.developer.badge_counts.gold}}
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    Location: <b>{{developer.location}}</b>
  </div>

</div>

<button class="btn btn-light d-flex justify-content-around" routerLink="/list-of-developers">Back</button>